:root{
	--light-blue: #5170E9;
	--highlight-light-blue: #4f72fb;
	--dark-blue: #080A47;
	--pastel-blue: #E8F2FA;
	--pastelle-pink:#F8F1FD;
	--nav-color: #e5f3fe;

	--font-colour: #0b0e65;
	--font-light-blue-colour: #3553cb;
	--font-light-grey-colour: #989898;

	/*highlight*/
	--light-blue-highlight: #8098f9;
	--medium-blue-highlight: #3e57da;
	--dark-blue-highlight: #2c43b8;

	/*purple highlight gradient*/
	--light-purple-highlight: #5ba9fa;
	--medium-purple-highlight: #7082f0;
	--dark-purple-highlight: #8054fe;

	/* Margin */
	--product-margin: 64px;
	--border-radius: 1.5rem;
}

@font-face {
	font-family: "BasierSquare";
	src: url("fonts/BasierCircle-Regular.otf");
	-webkit-font-smoothing: antialiased;
}
@font-face {
	font-family: "Regular";
	src: url("fonts/regular.woff2");
	-webkit-font-smoothing: antialiased;
}

@font-face{
	font-family: "Helvetica";
	src: url("fonts/Helvetica.ttf");
}

@font-face{
	font-family: "Poppins";
	src: url("fonts/Poppins-Regular.ttf");
}

@font-face{
	font-family: "Poppins-Light";
	src: url("fonts/Poppins-Light.ttf");
}

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{

	font-family: "Poppins";
	color: var(--font-colour);
	scroll-behavior: smooth;
	scroll-padding-top: 4.5rem;
}

html, body{
	margin: 0;
	padding: 0;
}

body{
	background: white;
	overflow-x: hidden;
}
/* Nav Bar */

nav {
  font-size: 1.251375rem;
  height: 5rem;
  z-index: 999;
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-color);
  padding: 0 6rem;
  width: 100vw;
  box-sizing: border-box;
}


#nav-space{
	position: absolute;
	top: 0;
	left: 0;
	height: 5rem;
	background: var(--nav-color);
	z-index: 0;
}

#nav-logo {
  /* Optional: Adjust the logo size and margin if needed */
  height: 40px; /* Example height, adjust as necessary */
  font-family: "Poppins";
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row; /* Arrange list items horizontally */
  justify-content: center; /* Center the links */
  flex-grow: 1; /* Allow ul to take up available space */
}

nav ul li {
  display: flex;
  align-items: center; /* Vertically center the content */
  padding: 0px 2rem; /* Add padding to make the items clickable */
}

nav ul li a {
  text-decoration: none;
  color: var(--font-colour); /* Set the color of the link */
  transition: 0.2s ease;
}

nav ul li a:hover{
  color: var(--light-blue);
  box-shadow: 0 2px 0 0 #d6d6d6;
}

#nav-name{
	font-size: 36px;
	font-weight: 800;
	font-family: "Poppins";
	user-select: none;
	text-decoration: none;
}
#nav-name:hover{
	cursor: pointer;
}

#contact-nav{
	background-color: var(--font-colour);
	color: white;
	padding: 12px 16px;
}

/* Mobile Hamburger Menu */

#mobile-menu{
	position: absolute;
	display: none;
}
#mobile-menu-toggle{
	display: none;
}



/*Media Queries*/

@media(max-width: 1050px){
	nav{
		height: 4.25rem;
		font-size: 1rem;
		padding: 0 36px;
	}

	nav ul li{
		padding: 0 24px;
	}

	#nav-name{
		font-size: 24px;
	}
	#contact-nav{
		font-size: 1rem;
	}
}

@media(max-width: 875px){

	nav{
		padding-left: 24px;
	}
	#nav-name{
		font-size: 18px;
	}

	nav ul, #contact-nav{
		display: none;
	}


	/* Mobile Hamburger Menu in Mobile View*/
	#mobile-menu-toggle{
		height: 32px;
		width: 32px;
		margin-left: auto;
		position: relative;
		display: block;
	}
	#mobile-menu-toggle:hover{
		cursor: pointer;
	}

	/*Menu*/
	#mobile-menu-toggle span{
		height: 4px;
		width: 100%;
		background: var(--dark-blue);
		border-radius: 25px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: .3s ease;
	}
	#mobile-menu-toggle span:nth-child(1) {
		top: 25%;
	}
	#mobile-menu-toggle span:nth-child(3){
		top: 75%;
	}
	#mobile-menu-toggle.active span:nth-child(1){
		top: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
	}
	#mobile-menu-toggle.active span:nth-child(2){
		opacity: 0;
	}
	#mobile-menu-toggle.active span:nth-child(3){
		top: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	/* Hidden Menu */
	#mobile-menu{
		background: #23263F;
		height: 100vh; /*auto;*/
		width: 100vw;
		position: fixed;
		top: -105vh;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		font-size: 18px;
		transition: .6s ease;
		padding-top: 4rem;
		padding-bottom: 8px;
		z-index: 998;
		max-width: 360px;
		box-shadow: -2px 0px 20px 0px #0000009e;
	}

	#logo-grid{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	#logo-grid h2{
		margin: 0;
	}

	#mobile-menu ul{
		width: 100%;
		list-style: none;
		line-height: 84px;
		margin-top: 36px;
		text-align: left;
	}

	#mobile-menu ul li a{
		font-size: 40px;
		color: white;
		text-decoration: underline;
	}
	

	#mobile-menu.active{
		top: 0;
	}

}
/*
@media(max-width: 495px){
	#mobile-menu ul li a{
		font-size: 1rem;
	}
}
*/