nav, #nav-space{
  background-color: white !important;
}
.primary-button {
  background-color: var(--light-blue);
  color: white;
  padding: 1.425rem;
  border-radius: 15rem;
  font-size: 1.1rem;
  border: none;
  font-weight: 200;
  transition: 0.1s ease-in-out;
}
.primary-button:hover{
  cursor: pointer;
  background-color: var(--highlight-light-blue);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns items to the top of the container */
  justify-content: flex-start; /* Aligns items to the left */
  padding: 40px;
}

#portfolio-intro {
  width: 100%; /* You can adjust this based on your preference */
  max-width: 1400px;
  margin: 0 0 60px 0;
  padding: 0;
}

#portfolio-intro h1{
	font-size: 48px;
	font-weight: 800;
	margin-bottom: 10px;
	padding: 0;
}

#portfolio-intro p{
	width: 596px;
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	font-size: 18px;
}

.center-container {
  display: flex;
  justify-content: center;
  flex-grow: 3; /* Allows the grid to take up more space */
  width: 100%;
}

#display-grid {
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1400px;
}

.cell {
  border-radius: 1rem;
  width: 443px;
  height: 465px;
  padding-bottom: 40px;
  overflow-y: hidden;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.image-container{
	width: 100%;
	height: 90%;
  overflow-y: hidden;
  border-radius: 16px;
  border: 1px solid #EEEEEE;
}

.cell img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
  border-radius: 1rem;
  transition: transform 1s ease-out;
}
.cell .title{
	font-weight: 800;
	margin: 15px 0 0 10px;
	font-size: 1.25rem;
}
.cell .description {
	margin: 0 0 0 10px;
	font-size: 0.95rem;
	font-family: 'Roboto';
	font-weight: 400;
}

/* Modal styles */
.modal {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 80px;
    width: 100%;
    height: calc(100% - 80px);
    /*background-color: rgb(0 0 0 / 77%);*/
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.2s ease;
    justify-content: center;
    align-items: center;
}

.modal.show{
  display; flex;
  background-color: rgba(0, 0, 0, 0.77);
  visibility: visible;
}

.modal-content {
    max-width: 90%;
    max-height: calc(100% - 80px);
    margin: auto;
    display: block;    
    opacity: 0; /* Initially invisible */
    transition: opacity 0.2s ease; /* Smooth transition for opacity */
}

.modal.show .modal-content {
    opacity: 1; /* Fade in the image */
}

.close {
    position: absolute;
    top: calc(5rem - 12px);
    right: 8px;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


@media(max-width: 1465px){
  .center-container{
    display: block;
    width: 100%;
  }
  .cell{
    width: 100%;
    height: auto;
    aspect-ratio: 335 / 465;
  }
}

@media(max-width: 1050px){
  #display-grid{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 825px){
  #display-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 648px){
  .main-container .center-container #portfolio-intro p{
    width: 100%;
  }
}

@media(max-width: 495px){
  .main-container{
    padding: 0;
    margin: 40px 24px;
  }
  #display-grid{
    grid-template-columns: repeat(1, 1fr);
  }
}