:root {
  --spacing-between-div: 96px;
  --image-overlap: -96px;
}

nav, #nav-space{
  background-color: white !important;
}

.primary-button {
  background-image: linear-gradient(135deg, var(--light-blue), var(--light-blue), var(--dark-purple-highlight), #724ae7);
  background-size: 200% 200%; 
  color: white;
  padding: 1.425rem;
  border-radius: 15rem;
  font-size: 1.1rem;
  border: none;
  font-weight: 200;
  transition: background 0.2s ease-in-out;
}

.primary-button:hover{
  cursor: pointer;
  background-position: 100% 100%;
  background-size: 150% 150%;
}

.center-container {
  display: flex;
  justify-content: center;
  flex-grow: 3; /* Allows the grid to take up more space */
  width: 100%;
}

/**/

body{
  background-image: linear-gradient(135deg, #FFFFFF, #BBBBBB);
}

.showcase-left, .showcase-right{
  /*padding: 32px;
  box-shadow: 0 0 28px 16px #00000016;*/
}

.title{
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.title h1{
  margin-bottom: 0;
  font-size: 64px;
}
.title p{
  width: 80%;
  max-width: 900px;
  margin-top: 4px;
  margin-bottom: 128px;
}
.showcase-left{
  margin: 0 96px var(--spacing-between-div) 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.showcase-left .left-container{
  display: flex;
  align-items: center;
}
.showcase-left .right-container{
  margin-left: 96px;
}
.showcase-left .right-container, .showcase-right .left-container{
  display: flex;
  flex-direction: column;
}
.showcase-left .image-behind, .showcase-right .image-behind{
  width: 480px;/*458px;*/
  aspect-ratio: .65625 / 1;
  object-fit: cover;
  object-position: bottom;
  filter: brightness(.75);
  z-index: 0;
}
.showcase-left .image-infront, .showcase-right .image-infront{
  width: 550px;/*525px;*/
  aspect-ratio: .65625 / 1;
  object-fit: cover;
  box-shadow: 0 0 16px 8px #00000025;
  z-index: 2;
  object-position: top;
}
.showcase-left .image-infront{
  margin-left: var(--image-overlap);
}
.work-title{
  margin: 0;
  font-size: 48px;
  line-height: 48px;
}
.work-description{
  width: 600px;/*margin-right: 128px;*/
}
.work-description{
  margin: 4px 0 16px 0;
  font-size: 16xp;
}
.work-lists{
  margin: 0;
  font-size: 16px;
  padding-left: 32px;
}

/*Start Of Right*/
.showcase-right{
  margin: 0 96px var(--spacing-between-div) 128px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.showcase-right .right-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.showcase-right .image-infront{
  margin-right: var(--image-overlap);
}

@media (max-width: 1441px){
  .title p{
    margin-bottom: 96px;
  }
  .work-description{
    width: 512px;
  }
  .showcase-right {
    margin-left: 48px;
  }
  .showcase-left{
    margin-left: 48px;
  }
  .showcase-right .image-infront{
    width: 400px;
  }
  .showcase-right .left-container .work-description{
    margin-right: 36px;
  }
  .showcase-right .image-infront, .showcase-left .image-infront{
    width: 428px;
  }
  .showcase-right .image-behind, .showcase-left .image-behind{
    width: 380px;
  }

  .showcase-left{
    margin-right: 96px;
  }

  .showcase-left .right-container{
    margin-left: 56px;
  }

}